h4 {
	font-size: 1.25em;
}

/* General styilng for all major sections*/
/* May delete once I am done but using to organize for now */
.game-section {
	border: 2px solid lightgrey;
	padding: 20px;
	text-align: center;
}

.row {
	margin: 0 auto;
}

#deck-pile, #dealer {
	display: inline-block;
	clear: all;
}

.card {
	height: 130px;
	width: 85px;
	transition: all 3s;
	display: inline-block;
}


/* Animations for card dealing based on location */

@keyframes deal-player {
	0% {
		transform: translate(-150px, -150px);
	}
	50% {
		transform: translate(-50px, -50px);
	}
	100% {
		transform: translate(0, 0);
  	}
}

@keyframes deal-player-split {
	0% {
		transform: translate(-150px, -450px);
	}
	50% {
		transform: translate(-50px, -150px);
	}
	100% {
		transform: translate(0, 0);
  	}
}

@keyframes deal-dealer {
	0% {
		transform: translate(-150px, 0px);
	}
	50% {
		transform: translate(-50px, 0px);
	}
	100% {
		transform: translate(0, 0);
  	}
}

#dealer .card {
	animation: deal-dealer .25s linear;
}

#user-hand .card {
	animation: deal-player .5s linear;
}

#user-split-hand .card {
	animation: deal-player-split .5s linear;
}

.card:hover {
	z-index: 100;
}

.wager {
	height: 100px;
	width: 100px;
	margin: 5px;
	display: inline-block;
}

#user-hand, #user-split-hand {
	animation: 1s;
	transition: all 3s;
	position: relative;
}

.hand-total, .split-hand-total, .dealer-hand-total {
	background: lightgrey;
	overflow: auto;
	padding: 10px 40px;
	margin: 10px;
	display: inline-block;
}

#dealer-condensed {
	text-transform: capitalize;
}

button {
	margin: 5px;
	padding: 10px;
}

.disabled-button {
	border: 1px solid red;
}

footer {
	padding: 20px;
	border: 2px solid lightgrey;
}

.rules-column {
	display: inline-block; 
	width: 40%;
}

.inactive {
	display: none;
}


.modal { 
	width: 75% !important; 
	height: 75% !important;
	opacity: .90 !important;
} 

/* TO DO: */
/* Rules to be visible at start, hidden during game play */
#rules {
	display: none;
}

#game-board {
}
