body {
	background: #1f513b;
	background: linear-gradient(to top right, #1f513b, #0F2725);
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white;
}


h1, h2, h3, h4, .brand-logo {
	font-family: 'Arvo', serif;
}

h1 {
	letter-spacing: 0px;
	font-size: 4em;
}

h4 {
	font-size: 1.75em;
	color: white;
}

p {
	font-size: 1.25em;
	line-height: 1.75em;
}

#welcome p {
	width: 50%;
	margin: 10px auto;
}

/* Make section for white bg vs green? */
#rules {
	padding: 20px;
	margin: 20px auto 30px auto;
	text-align: left;
	display: none;
	background: #0F2725;
	/* Hidden at start */
}

/* General styilng for all major sections */
/* May delete once I am done but using to organize for now */
.game-section {
	padding: 20px;
	text-align: center;
	background: white;
	border-radius: 40px;
	margin: 20px auto 40px auto;
	width: 70%;
}

#rules button {
	float: right;
	margin-right: 20px;
}

#rules h4 {
	text-align: center;
}

.game-section h4, .game-section p {
	color: black;
}


.row {
	margin: 0 auto;
}

/* Class for all of these? */
#deck-pile, #dealer, #user-hand, #user-split-hand {
	display: inline-block;
}

#user-split-hand {
	margin-left: 20px;
}

.card {
	transition: all 3s;
	display: inline-block;
	background-color: none !important;
	border-radius: 12.5px;
	outline-offset: -6px;
	outline: 6px solid white;
	box-shadow: -3px 4px rgba(15, 39, 37, .25);
}

.pile {
	margin-right: 30px;
}

/* Animations for card dealing based on location */
/* TO DO: Add webkit keyframes also */

@keyframes deal-player {
	0% {
		transform: translate(-90px, -150px);
	}
	50% {
		transform: translate(-50px, -50px);
	}
	100% {
		transform: translate(0, 0);
  	}
}

@keyframes deal-player-split {
	0% {
		transform: translate(-90px, -450px);
	}
	50% {
		transform: translate(-50px, -150px);
	}
	100% {
		transform: translate(0, 0);
  	}
}

@keyframes deal-dealer {
	0% {
		transform: translate(-100px, 0px);
	}
	50% {
		transform: translate(-50px, 0px);
	}
	100% {
		transform: translate(0, 0);
  	}
}

@keyframes dealer-cardflip {
	0% {
		transform: rotateY(25deg);
	}
	50% {
		transform: rotateY(100deg);
	}
	100% {
		transform: none;
  	}
}

.card:hover {
	z-index: 100;
}

#dealer .card {
	animation: deal-dealer .25s ease-in;
}

#user-hand .card {
	animation: deal-player .5s ease-in;
}

#user-split-hand .card {
	animation: deal-player-split .5s ease-in;
}

/* For when dealer card is flipped*/

#dealer .card.flipped {
	animation: dealer-cardflip .25s ease-in;
} 

.wager {
	height: 60px;
	width: 60px;
	margin: 2px;
	display: inline-block;
}

.wager:hover {
	transform: translate(0, 10px);
}

#wager-options {
	padding: 20px 0;
}

.current-wager, .current-chip-balance {
	color: black;
	font-size: 3em;
}

.hand-total, .split-hand-total, .dealer-hand-total {
	background: black;
	padding: 10px 0;
	margin: 10px auto;
	display: inline-block;
	font-size: 1.25em;
	text-align: center;
	width: 50px;
}

#game-board .hand-total, #game-board .split-hand-total, #game-board .dealer-hand-total {
	position: relative;
	left: -15px;
	bottom: 40px;
	margin-right: -15px;
}

button, button:focus {
	margin: 5px;
	padding: 20px;
	background: #d60438;
	color: white;
	border: 0;
	font-size: 1.10em;
	font-weight: 400;
	letter-spacing: 1px;
}

.current-wager, .current-chip-balance {
	display: inline-block;
}

#sidebar button {
	width: 100px;
	height: 75px;
	overflow: none;
	padding: 0;
}

.disabled-button {
	background: #0F2725;
}

button:active {
	background: black;
}

footer {
	padding: 20px;
	background: #0F2725;
	color: white;
}

.inactive {
	display: none;
}


/* Materialize style overrides*/

.nav-wrapper{
	background-color: black !important;
 	text-align: left !important;
	box-shadow: 0 !important;
}

.navbar-fixed {
	margin-bottom: 30px !important;
}

.modal { 
	width: 75% !important; 
	height: 75% !important;
	opacity: .90 !important;
} 

.brand-logo {
	padding-left: 20px !important;
	font-size: 1.5em !important;
}

.rules-nav {
	padding-right: 20px !important;
}


/* Resposive adjustments*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.game-section {
	padding: 5px;
	margin: 20px auto;
	width: 95%;
	}

	.card {
		width: 77px;
		height: 103.5px;
	}

	p {
		font-size: 1.4em;
	}

	#welcome p {
		width: 80%;
	}

	.navbar-fixed {
		margin-bottom: 15px !important;
	}

	#sidebar button {
		width: 70px;
		height: 50px;
		overflow: none;
		padding: 0;
	}

}

