* {
	margin: 0 auto;
	text-align: center;
}

h4 {
	font-size: 1.25em;
}

/* General styilng for all major sections*/
/* May delete once I am done but using to organize for now */
.game-section {
	border: 2px solid lightgrey;
	padding: 20px;
}

.row {
	margin: 0 auto;
}


input[type="radio"]:checked+label{
	border: 2px solid red;
} 

input[type="radio"]#ten-chip-bet:unchecked { 
    visibility:hidden;
}

#deck-pile, #dealer {
	display: inline-block;
}

.card {
	height: 130px;
	width: 85px;
	transition: all 3s;
}

.wager {
	height: 50px;
	width: 50px;
	margin: 5px;
	display: inline-block;
}

.wager:hover {
	outline: 2px solid red;
}

#user-hand {
	animation: 1s;
	transition: all 3s;
}

#hand-total, #split-hand-total {
	background: lightgrey;
	overflow: auto;
	padding: 10px 40px;
	margin: 10px;
	display: inline-block;
}

#dealer-condensed {
	text-transform: capitalize;
}

button {
	margin: 5px;
	padding: 10px;
}

.disabled-button {
	border: 1px solid red;
}

footer {
	padding: 20px;
	border: 2px solid lightgrey;
}

/* TO DO: */
/* Rules to be visible at start, hidden during game play */
#rules {
	display: none;
}

